@model ArDesignForminhas_Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<section>
    @Html.Partial("_Banner", Model.ListaBanner)
</section>

<div class="container body-content">
    <section class="py-12">
        @Html.Partial("_Destaque", Model.ListaProdutoDestaque)
    </section>
</div>

