@{
    Layout = "~/Areas/Administracao/Views/Shared/_LayoutCadastro.cshtml";
    ViewBag.Title = "Cadastro de Categorias";
}

<div class="row">
    <div class="col-md-9">
        <h2>Categorias</h2>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
        @Html.ActionLink(" Cadastrar", "Cadastrar", "Categoria", null, new { @class = "btn btn-outline-primary fas fa-plus-square" })
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div id="grid"></div>
    </div>
</div>

@section scripts{
    <script>
        var urlIndex = "@Url.Action("Listar", "Categoria")";
        var urlDelete = "@Url.Action("Delete", "Categoria")"

        function PreencheGrid() {
            $("#grid").load(urlIndex, function () {
            });
        }

        $(document).ready(function () {
            PreencheGrid();
        });
    </script>
}
