@model ArDesignForminhas_Web.Models.Categoria
@{
    Layout = "~/Views/Shared/_LayoutCadastro.cshtml";
}

@using (Html.BeginForm("Cadastrar", "Categoria", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-9">
            <h2>Cadastro de Categorias</h2>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-primary">
                <i class="far fa-save"> Salvar</i>
            </button>
            <button type="button" onclick="location.href='@Url.Action("Index", "Categoria")'" class="btn btn-outline-secondary">
                <i class="fas fa-list-alt"> Cancelar</i>
            </button>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <label class="font-weight-bold">Categoria Pai: </label>
            @Html.DropDownListFor(model => model.CodigoPai, ((IEnumerable<SelectListItem>)ViewBag.CategoriaPai)
                 .Select(option => new SelectListItem
                 {
                     Text = option.Text,
                     Value = option.Value,
                     Selected = (Model != null) && (Model.Codigo == Convert.ToInt32(option.Value))
                 }), "- Selecione -", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="font-weight-bold">Nome: </label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="font-weight-bold">Descrição: </label>
            @Html.TextAreaFor(model => model.Descricao, new {@class= "form-control", rows = "3" })
        </div>
    </div>
}