@model ArDesignForminhas_Web.Models.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="flex-fill mt-5">
    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-sm-6">
                <img src="@Html.DisplayFor(model => model.Imagens.First().Caminho)" class="img-thumbnail" id="imgProduto">
                <br class="clearfix">
                <div class="row my-3 gx-3">
                    @foreach (var imagem in Model.Imagens)
                    {
                        <div class="col-3">
                            <img src="@Html.DisplayFor(model => imagem.Caminho)" class="img-thumbnail" onclick="trocarImagem(this)">
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <h1>@Html.DisplayFor(model => model.Nome)</h1>
                <p>
                    @Html.DisplayFor(model => model.Descricao)
                </p>
            </div>
        </div>
    </div>
</main>

<script>
    function trocarImagem(el) {
        var imgProduto = document.getElementById("imgProduto");
        imgProduto.src = el.src;
    }
</script>