@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <p style="font-weight: bold"> Nome do produto </p>
            </div>
            <div class="row">
                <p> Descrição do produto </p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <p style="font-weight: bold"> Foto principal </p>
            </div>
            <div class="row">
                <p> Fotos secundárias</p>
            </div>
        </div>
    </div>
</div>