@{
    Layout = "~/Areas/Administracao/Views/Shared/_LayoutCadastro.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h4>Administração do Site Ar Desing Forminhas</h4>
        <p>
            Esta é uma área onde gerenciamos o conteúdo total do website. Ele inclui cadastros de banner da home,
            categoria de produtos e novos produtos.
            <br /><br />
            Lembrando que todo que for cadastrado, editado e excluido nesta área, refletirá automaticamente no
            site principal.
        </p>
    </div>
</div>
<br /><br />