body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
    font-family: Jost;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select {
    max-width: 280px;
}


.link {
    color: #4e545a;
    text-decoration: none;
    background-color: transparent;
}

    .link:hover {
        color: #32373c;
        text-decoration: underline;
        /* font-weight: bolder; */
    }

.pt-6, .py-6 {
    padding-top: 3rem !important;
}

.pb-12, .py-12 {
    padding-bottom: 6rem !important;
}

.menu {
    color: #111 !important;
    text-decoration: none !important;
    background-color: transparent !important;
    font-size: 16pt !important;
    font-weight: bold !important;
}

    .menu:hover {
        color: #ff6f61 !important;
        text-decoration: underline !important;
        font-size: 16pt !important;
        font-weight: bold !important;
    }

.valorProduto {
    font-weight: bold !important;
    /* text-decoration: underline !important; 
    color: #13abe1 !important; */
    font-size: 1.5rem;
    font-family: Trebuchet MS,Arial,sans-serif
}

.tituloIconSocial {
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}
.iconSocial {
    color: #a6a6a6 !important;
    font-size:25px;
}